@using  OnePortal.Blazor.Pages

<CascadingAuthenticationState>
    <ErrorBoundary>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @* When the user is not authorised to view the route,
                           navigate them to the login page instead of rendering
                           the protected component.  We use a small helper
                           component here to perform the redirect. *@
                        <RedirectToLogin />
                    </NotAuthorized>
                    <Authorizing>
                        <div>Loading...</div>
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ErrorBoundary>
</CascadingAuthenticationState>