@using OnePortal.Blazor.Services.Auth
@using OnePortal.Blazor.Components.Common


<label>@Label</label>
<input type="password" class="text" @bind="Value" @bind:event="oninput" />
<ValidationBadge
Valid="PasswordPolicy.MeetsPolicy(Value ?? string.Empty, MinLength)"
Message=@($"Strong password (min {MinLength}, A-Z, a-z, 0-9, special)") />


@code {
[Parameter] public string? Label { get; set; }
[Parameter] public string? Value { get; set; }
[Parameter] public int MinLength { get; set; } = 8;
[Parameter] public EventCallback<string?> ValueChanged { get; set; }


protected override async Task OnParametersSetAsync()
{ if (ValueChanged.HasDelegate) await ValueChanged.InvokeAsync(Value); }
}